$bento-dark:    #222D3D;
$bento:         #28364A;
$bento-light:    #2d394d;
$bento-light-2:   #3F4F66;
$bento-light-3: #4a768d;
$salmon-dark:   #EA4B4F;
$salmon:        #FD7176;
$salmon-light:  #FE9699;
$plain:          #F7F8F9;
$plain-light:    #FFFEFD;

$theme-colors: (
    "bento-dark": $bento-dark,
    "bento": $bento,
    "bento-light": $bento-light,
    "bento-light-2": $bento-light-2,
    "bento-light-3": $bento-light-3,
    "salmon-dark": $salmon-dark,
    "salmon": $salmon,
    "salmon-light": $salmon-light,
    "plain": $plain,
    "plain-light": $plain-light
);


@import "~bootstrap/scss/bootstrap";