@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto&display=swap');
/* 
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

.font-primary {font-family: 'Roboto', sans-serif;}
.font-secondary {font-family: 'Lato', sans-serif;}
.font-tertiary {font-family: 'Open Sans', sans-serif;}

/* common styles */
body {
    height: 100%;
    min-height: 100% !important;
}
html, #root, .App {
    height: 100%;
}
.App {
    position: relative;
}

.cursor-default {cursor: default;}
.cursor-pointer {cursor: pointer;}

/* borders */
.border-2 {border-width: 2px !important;}
.border-3 {border-width: 3px !important;}
.border-4 {border-width: 4px !important;}
.border-5 {border-width: 5px !important;}

/* navbar */
.navbar-nav>.nav-item {
    margin-right: 1rem;
}
.nav-item>.active{
    border-bottom: 2px solid;
    border-color: yellow;
}

/* landing page */
/* .landing-parallax { */
#landing {
    background-image: url("../assets/landing_bg.png");
    /* height: 500px; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 90vh;
}
#landing::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.35);
}
#landing .landing-start-btn {
    cursor: pointer;
    margin-bottom: 7rem;
    z-index: 1;
}

@media screen and (max-width: 576px) {
    /* 576px wide or less - size sm*/

    .navbar.navbar-expand-sm.bg-transparent{
        background-color: #ffffff !important;
        margin-right: 0;
        margin-left: 0;
    }
    .navbar-collapse {
        background-color: #ffffff;
        margin-top: 0.5rem;
    }
    .navbar-nav>.nav-item {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 992px) and (max-height: 450px) {
    #landing .landing-start-btn {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 400px) {
    #landing .landing-start-btn {
        margin-bottom: 2rem;
    }
}